<header class="entry-header">

    <h2 class="post-title">
        <a href="{{ path('blog.show', {year: post.created|date('Y'), month: post.created|date('m'), day: post.created|date('d'), title: post.urlTitle}) }}">
            {{ post.title }}
        </a>
    </h2>

    <div class="post-info">
        erstellt am {{ post.created|date('d.m.Y H:i') }}
        {% if post.categories|length > 1 %}
            in den Kategorien
        {% else %}
            in der Kategorie
        {% endif %}
        <span>{{ post.categories|join(',') }}</span>
    </div>

</header>
<div class="entry-content">
    <div class="clearfix">
        <div class="entry-data">
            <span class="month">{{ post.created|date("M") }}</span>
            <span class="day">{{ post.created|date("d") }}</span>
        </div>
        <div class="entry-text">
            {{ post.introduction }}
        </div>
    </div>
</div>

<footer>
    <a class="entry-more btn" href="{{ path('blog.show', {year: post.created|date('Y'), month: post.created|date('m'), day: post.created|date('d'), title: post.urlTitle}) }}">Weiterlesen</a>
</footer>