{% extends 'default.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}

    <section id="profile" class="item">
        <h2 class="item-title">
            <a href="{{ path('default.index') }}">
                <span class="title">my Profile</span>
                <span class="icon-user"></span>
            </a>
        </h2>
        <div class="item-border"><span></span></div>
    </section>

    <section id="blog" class="item">
        <h2 class="item-title">
            <span class="title">my blog Posts</span>
            <span class="icon-blog"></span>
        </h2>

        <div class="item-cont clearfix">
            <div class="col535 fl-left">

                {% for post in posts %}
                    <article class="entry-box">
                        {% include 'blog/_listItem.html.twig' %}
                    </article>
                {% endfor %}

            </div>

            <div class="col230 fl-right">
                <aside id="sidebar">
                    {% block sidebar %}

                    <div class="widget">
                        <h2>Kategorien</h2>
                        <ul>
                            {% for category in categories %}
                            <li>
                                <a href="{{ path('blog.category', {title: category.urlTitle}) }}"
                                   title="{{ category.description }}">{{ category.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="widget">
                        <h2>Tags</h2>
                        <div class="tagcloud">
                            {% for tag in tags %}
                            <a href="#" title="{{ tag.name }}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    {% endblock %}
                </aside>
            </div>
        </div>
    </section>

{% endblock %}