<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xml:base="https://tommy-muehle.de/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
<channel>
<title>Blog | tommy-muehle.de</title>
<description>PHP, Puppet, Open Web Technologies</description>
<link>{{ url('default.index') }}</link>
<atom:link rel="self" href="{{ url('blog.rss') }}" />
<lastBuildDate>Fri, 04 Oct 2014 00:00:00 +0000</lastBuildDate>
{% if posts|length > 0 %}
    {% for post in posts %}
        <item>
            <title>{{ post.title }}</title>
            <link>
                {{ url('blog.show', {year: post.created|date('Y'), month: post.created|date('m'), day: post.created|date('d'), title: post.urlTitle}) }}
            </link>
            <description>
                {{ post.introduction }}
            </description>
            <pubDate>{{ post.created|date('D') }}, {{ post.created|date('d') }} {{ post.created|date('M') }} {{ post.created|date('Y') }} {{ post.created|date('H:i:s') }}</pubDate>
            <source url="{{ url('blog.rss') }}">tommy-muehle.de</source>
        </item>
    {% endfor %}
{% endif %}
</channel>
</rss>